<! -------------------------------------------------------->
<!        На основе base.html, расширяет блок контента
<! -------------------------------------------------------->
{% extends 'base.html' %}
<head>

<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
</head>
{% block content %}
    {{ super() }}
    <!           Отображение мгновенных сообщений
    <! -------------------------------------------------------->
    {% for cat,msg in get_flashed_messages(True) %}
        <font size="4">
        <figure class="text-center">
            <div class="alert {{cat}} " role="alert">{{msg}}</div>
        </figure>
        </font>
    {% endfor %}


    <!   Выпадающий список датчиков выбранного устройства     >
    <! -------------------------------------------------------->
    <center>
    <br>
    <p>
       <select name="selected_sensor" class="form-select-lg text-center " id="Select_Sensor" style="width: 600px;" >
            {% for sen in sensors_list %}
                <option value="{{sen}}" id="{{sen}}">Датчик {{sen}}</option>
            {% endfor -%}
       </select>
    </p>
    <p>
        {{dir_text}}
    </p>
    </center>


    <script>
        // Получаем id выбранного справочника, для его выбора в selector при перезагрузке страницы
        //-----------------------------------------------------------------------------------------
        let currentUrl = window.location.href;
        var last = currentUrl.split('/').pop();
        console.log(last);
        if (last != 'default') document.getElementById(last).selected=true;




        // Получаем выбранный в selector элемент и загружаем страницу с выбранным id справочника
        //-----------------------------------------------------------------------------------------
        let sen_select = document.getElementById('Select_Sensor');

        sen_select.onchange = function() {
           selected_type = sen_select.value;
           window.location.href = selected_type;
        }
    </script>


    <!   Отображение Графика по данным с выбранного датчика устройства
    <! -------------------------------------------------------->
    <center>
        <div class="row " style="width: 1900px;">
            <div class="col" >
                <!   Карточка с графиком >
                <! -------------------------------------------------------->
                <div class="card" style="max-width: 80rem; padding: .5em .0em .0em;border-radius: 1em;text-align: center;box-shadow: 0 5px 10px rgba(0,0,0,.3);" >

                    <p id="graph"> </p>

                    <center>
                        <input type="text" name="daterange" value="Выбрать диапазон дат" style="max-width: 13rem;" class="form-control text-center bg-primary text-white" />
                    </center>
                    <br>
                </div>
                <br><br>
                <br>

            </div>
        </div>
    </center>
</body>

<!   Рисование графика >
<! -------------------------------------------------------->
<script>
        let div = document.getElementById('graph');

        var x_mas = {{x |safe}};

        var y_mas = {{y |safe}};


        var gr_mas = {{groups | safe}};

        data = [{
            type: 'scatter',
            x: x_mas,
            y: y_mas,
            mode: 'markers',
            marker: {
                size: 5,
            },
            showlegend: true,
            transforms: [{
                type: 'groupby',
                groups: gr_mas,
                }]

        }];

        var layout = {
            title : "Датчик {{sensor|safe}}",
            font: {
                size: 15,
                color: '#303030'
            },
              width: 1250,
              height: 600,
            xaxis: {
                title: {
                text: 'Дата получения значения с датчика',
                font: {
                    size: 15,
                    color: '#595959'
                    }
                },
                autorange: true,
                rangeselector: {buttons: [
                    {
                        count: 1,
                        label: '1 день',
                        step: 'day',
                        stepmode: 'backward'
                    },
                    {
                        count: 1,
                        label: '1 месяц',
                        step: 'month',
                        stepmode: 'backward'
                    },
                    {
                        count: 1,
                        label: '1 год',
                        step: 'year',
                        stepmode: 'backward'
                    },
                    {
                        label: 'Все значения',
                        step: 'all'
                    }
                ]},
                type: 'date'
            },
            yaxis: {
                title: {
                text: 'Полученное значение',
                font: {
                    size: 15,
                    color: '#595959'
                    }
                }
            },
            legend: {
                title: {
                    text: "Области"
                }
            }
        };

        Plotly.newPlot(div,data,layout, {displaylogo: false});

</script>

<!   Выбор диапазона дат >
<! -------------------------------------------------------->
<script>
$(function() {
    $('input[name="daterange"]').daterangepicker({
        opens: 'left',
        drops: 'up',
        showDropdowns: true,
        autoUpdateInput: false,
        locale: {
            "format": "DD/MM/YYYY",
            "applyLabel": 'Выбрать',
            "cancelLabel": 'Отчистить поле',
            "daysOfWeek": [
                    "Вс",
                    "Пн",
                    "Вт",
                    "Ср",
                    "Чт",
                    "Пт",
                    "Сб" ],
            "monthNames": [
                    "Январь",
                    "Февраль",
                    "Март",
                    "Апрель",
                    "Май",
                    "Июнь",
                    "Июль",
                    "Август",
                    "Сентябрь",
                    "Октябрь",
                    "Ноябрь",
                    "Декабрь"],
        },
        }, function(start, end, label) {
            Plotly.relayout(div,'xaxis.range', [start.format('YYYY-MM-DD'),end.format('YYYY-MM-DD')])
    });

    $('input[name="daterange"]').on('apply.daterangepicker', function(ev, picker) {
      $(this).val(picker.startDate.format('DD/MM/YYYY') + ' - ' + picker.endDate.format('DD/MM/YYYY'));
    });

    $('input[name="daterange"]').on('cancel.daterangepicker', function(ev, picker) {
      $(this).val('Выбрать диапазон дат');
    });

    document.addEventListener("DOMContentLoaded", ready);
    function ready() {
        alert('DOM готов');
        $('input[name="daterange"]').val('Выбрать диапазон дат');
    };

});
</script>


{% endblock %}